<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <table border="1">
  <h2>CPUの選択</h2>
  <!--<td>ID　 型番　グレード　ソケット　　　価格</td>-->
  <td>ID</td>
  <td>型番</td>
  <td>グレード</td>
  <td>ソケット</td>
  <td>価格</td>
    <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><%= row.model %></td>
            <td><%= row.grade %></td>
            <td><%= row.socket %></td>
            <td><%= row.price %></td>
        </tr>
      <% } %>
  </table>
  <br>
  <td>使用するIDを入力してください</td><br>
        <form action="/MB1">
            <input type="integer" name="CPU_ID" id="CPU_ID">
            <input type="submit" value="送信">
        </form>
   <a href="/">トップへ戻る</a>
</body>
</html>